
<br>
<br>
<div class="container">
  <div class="card shadow mb-4">
  <div class="card-body">
     <h2><font color="blue" >  Liste de Fournisseurs </font> </h2>
  <table class="table table-striped" >
  <tr>
       <th>Id</th>
       <th>Nom</th>
       <th>Prénom</th>
       <th>Email</th>
       <th>Téléphone</th>
       <th>Actions</th>

 </tr>
  <tbody *ngFor="let fournisseur of four  ">
  <tr >
       <td>{{fournisseur.id}}</td>
       <td>{{fournisseur.nom}}</td>
       <td>{{fournisseur.prenom}}</td>
       <td>{{fournisseur.email}}</td>
       <td>{{fournisseur.telephone }}</td>
       <td><a class="btn btn-white" [routerLink]="['/updatefournisseur',fournisseur.id]"><font color="blue"><b>Modifier</b></font></a></td>
       <td><a class="btn btn-white" (click)="supprimFournisseur(fournisseur)"><font color="red"><b>Supprimer</b></font></a></td>
  </tr>
  </tbody>
  </table>
  <h6> <a href= "/addfournisseur">Ajouter un nouveau fournisseur </a></h6>
  </div>
  </div>
</div>

