<br>
<br>
<div class="container">
  <div class="card shadow mb-4">
  <div class="card-body">
     <h2><font color="blue" >  Liste de Commandes  </font> </h2>
  <table class="table table-striped" >
  <tr>
       <th>Id</th>
       <th>Nom</th>
       <th>Libellé</th>
       <th>Quantité</th>
       <th>Date Commande</th>
       <th>Actions</th>
 </tr>
  <tbody *ngFor="let commande of com ">
  <tr >
       <td>{{commande.id}}</td>
       <td>{{commande.nom}}</td>
       <td>{{commande.libelle}}</td>
       <td>{{commande.quantite}}</td>
       <td>{{commande.dateCommande}}</td>
       <td><a class="btn btn-white" [routerLink]="['/updatemedicament',commande.id]"><font color="blue"><b>Modifier</b></font></a></td>
       <td><a class="btn btn-white" (click)="supprimCommande(commande)"><font color="red"><b>Supprimer</b></font></a></td>
  </tr>
  </tbody>
  </table>
  <h6> <a href= "/addcommande">Passer une Nouvelle Commande </a></h6>
  </div>
  </div>
</div>

