<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<title>Gestion Pharmacie</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-success navbar-dark">
 <!-- Brand -->
 <a class="navbar-brand" href="#" routerLink="">P H A R M A C Y </a>
 <!-- Links -->


<ul class="navbar-nav ml-auto" >
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
[username]
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="#" routerLink="/login">login</a>
<a class="dropdown-item" href="#" routerLink="/navbar1" >logout</a>
</div>
</li>
</ul>
</nav>
</body>
</html>

