<link href="//db.onlinewebfonts.com/c/a4e256ed67403c6ad5d43937ed48a77b?family=Core+Sans+N+W01+35+Light" rel="stylesheet" type="text/css"/>

<div class="body-content">
  <div class="module">
    <h1><font color="white">Connexion</font></h1>
    <br>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="alert alert-error"></div>
      <input formControlName="username"  type="text" placeholder="Nom utilisateur" name="username" required />
      <input formControlName="password"  type="password" placeholder="Mot de Passe" name="password" required />
      <input type="submit"  routerLink="/accueil" value=" Se Connecter "   name="login" class="btn btn-block btn-primary" />
    </form>
    <p class="message"><font color="white" size="3"> Vous n'avez pas un compte ? </font> <a href="" routerLink="/register"><font color="white">Créer un compte</font></a></p>
  </div>
</div>
