<br>
<br>
<div class="container">
  <div class="card shadow mb-4">
  <div class="card-body">
     <h2><font color="blue" >  Liste des Médicaments  </font> </h2>
  <table class="table table-striped" >
  <tr>
       <th>Id</th>
       <th>Nom</th>
       <th>Prix</th>
       <th>Libellé</th>
       <th>Actions</th>

 </tr>
  <tbody *ngFor="let medicament of medicam  ">
  <tr >
       <td>{{medicament.id}}</td>
       <td>{{medicament.nom}}</td>
       <td>{{medicament.prix}}</td>
       <td>{{medicament.libelle }}</td>
       <td><a class="btn btn-white" [routerLink]="['/updatemedicament',medicament.id]"><font color="blue"><b>Modifier</b></font></a></td>
       <td><a class="btn btn-white" (click)="supprimerMedicament(medicament)"><font color="red"><b>Supprimer</b></font></a></td>
  </tr>
  </tbody>
  </table>
  <h6> <a href= "/addMedicament">Ajouter un Nouveau Médicament </a></h6>
  </div>
  </div>
</div>
