
<br>
<br>

<button type="button" class="btn btn-outline-primary" routerLink="/medicaments">Gestion des Médicaments</button>
<button type="button" class="btn btn-outline-primary" routerLink="/commandes">Gestion des Commandes</button>
<button type="button" class="btn btn-outline-primary" routerLink="/stocks">Gestion des Stocks</button>
<button type="button" class="btn btn-outline-primary" routerLink="/ventes">Gestion des Ventes</button>
<button type="button" class="btn btn-outline-primary" routerLink=" ">Gestion des Fournisseurs</button>

